# 中国传统色 / Chinese Traditional Colors

{{#each colors}}
<div style="display: flex;margin-bottom: 8px;">
<span style="color:{{this.hex}};margin-right: 8px; width: 64px;">{{this.name}}</span>
<div style="background-color:{{this.hex}};flex-grow: 1;height: 32px;"></div>
</div>
{{/each}}
